.id-card {
  border-style: solid;
  border-width: 2px;
  display: flex;
  padding:0.5rem;
  margin-bottom: 1rem;
}

.id-card--properties {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin-left: 1rem;

}
.id-card--properties-name {
  font-weight: bold;
}

.greeting {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  padding:0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.random {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  padding:0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.box-color {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding:0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.credit-card {
  width: 33%;
  padding: 1rem;
  display: flex;
flex-direction: column;
margin: 1rem;
border-radius: 1rem;
}
.credit-card--logo {
  width: 4rem;
}
.credit-card--logo-container{
display: flex;
justify-content: flex-end;

}
.credit-card--number {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.credit-card--info {
  opacity: 0.9;
  display: flex;
  flex-direction: row;
}
.credit-card--info-left {
  display: flex;
  flex-direction: column;
}
.credit-card--expiration {
  margin-right: 1.5;
}
.driver-card {
  border-radius: 10px;
  background-color: rgb(71, 71, 220);
display:flex;
justify-content: center;
margin-bottom: 1rem;
height: 5rem;
padding-top: 1rem;
padding-bottom: 1rem;
}
.driver-card--image {
  border-radius: 50%;
  margin: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
}

.driver-card--car{
  opacity: 0.8;
}
.driver-card--name{
  font-size: 1.5rem;
  font-weight: bold;
}